@import './variables.scss';

.parameters__doors {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.parameters {
    &__text {
        font-family: $second-family;
        font-weight: 600;
        font-size: 24px;
        line-height: 133%;
        color: $black---black-80;
    }
}

.sizes {
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }

    &__length {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $black---black-80;
    }

    &__input {
        width: 100%;
        border: 1px solid $black---black-32;
        border-radius: 8px;
        padding: 16px;
        box-sizing: border-box;

        background: $white---white-100;
        opacity: 0.56;

        font-family: $font-family;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $black---black-64;


        &:not(:placeholder-shown) {
            border: 1px solid #b3b3b3;
            opacity: 1;
        }

        &:focus {
            outline: 1px solid #696666;
            color: $black---black-100;
        }

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    ::placeholder {
        font-family: $font-family;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: $black---black-32;
    }
}

.block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media (max-width: 838px) {
        grid-template-columns: 1fr;
    }

    &__title {
        font-family: $font-family;
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        color: $black---black-80;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.door_dimension {
    animation: fadeIn 0.5s ease forwards;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 26px;

    border: 1px dashed $brand-default;
    border-radius: 8px;
    padding: 16px 18px 18px 18px;

    &__sizes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
}

.add_door {
    &__icon {
        width: 44px;
        height: 44px;
    }

    &__text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $black---black-80;
        text-align: center;
    }
}

.add_dimension {
    padding: 51px 71.5px;
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
    justify-content: center;

    &:before {
        display: none;
    }
}