$light-blue---light-blue-100: #a6b2be;
$light-blue---light-blue-300: #c8d4df;
$light-blue---light-blue-200: #dfe5ec;
$black---black-100: #111;
$black---black-80: rgba(17, 17, 17, 0.8);
$black---black-64: rgba(17, 17, 17, 0.64);
$black---black-48: rgba(17, 17, 17, 0.48);
$black---black-32: rgba(17, 17, 17, 0.32);
$black---black-24: rgba(17, 17, 17, 0.24);
$black---black-16: rgba(17, 17, 17, 0.16);
$white---white-100: #fff;
$white---white-80: rgba(255, 255, 255, 0.8);
$white---white-64: rgba(255, 255, 255, 0.64);
$white---white-48: rgba(255, 255, 255, 0.48);
$white---white-32: rgba(255, 255, 255, 0.32);
$white---white-24: rgba(255, 255, 255, 0.24);
$white---white-16: rgba(255, 255, 255, 0.16);
$brand-default: #526eff;
$brand---hover: #3652e3;
$brand---active: #233fd1;
$error---easy: rgba(242, 202, 202, 0.72);
$error---juice: #db524e;
$attention---easy: rgba(255, 215, 96, 0.24);
$attention---juice: #ffd760;
$success---easy: rgba(90, 205, 102, 0.24);
$success---juice: #5acd66;
$link---default: #0086ff;
$link---hover: #0068c6;
$submarine---easy: #faf8f3;
$submarine---juice: #ffcc81;

$font-family: "Roboto", sans-serif;
$second-family: "Inter", sans-serif;